<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://www.iconsdb.com/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <script src="https://unpkg.com/vue@3"></script> -->
<script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<title>Quotes</title>

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
 

<div id="app">  

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <!-- TOMAS --> <div v-if="loaded == true">{{ info.author }} </div> <div v-else> . . . </div> 
  </div>
  <div class="w3-display-middle">

    <div class="w3-animate-top">
        <div v-if="loaded" class="w3-xlarge">{{ info.text }}</div> 
        <div v-if="loaded == false" class="w3-xlarge"> . . . . . . . </div>
    </div>


    <!-- <h1 v-if="loaded == false" class="w3-animate-top"> . . . . . . . . . </h1> -->

    <hr class="w3-border-grey" style="margin:auto;width:100%;margin-top: 20px"> 

  </div>
  <div class="w3-display-bottomright w3-padding-large">
    <!-- <button @click="backFacts" :disabled="currentPage == 0" > BACK </button> -->
    <button @click="getRandom" class="w3-btn w3-green w3-round-large"> Next <i class="fa fa-arrow-right"></i> </button>
    <!-- <button @click="nextFacts"> NEXT </button> -->
  </div>
</div>




</div>

<script>
  Vue.createApp({
    data() {
      return {
        num: 0,
        currentPage: Math.floor((Math.random() * 1642) + 1),
        infos: [], 
        info: [],
        loaded: false
      }
    }, 
    methods: {
        increment(){
            this.num++
        },
        decrement(){
            if(!this.num <= 0){                
                this.num--
            }
        },
        getFacts(){
           axios.get("https://type.fit/api/quotes")
                .then(response => {
                   this.infos = response.data ;
                   this.info = this.infos[this.currentPage]
                   this.loaded = true
                }) 
             
        },         
        nextFacts(){
            this.loaded = false
            this.currentPage = this.currentPage + 1
            this.info = this.infos[this.currentPage] 
            this.loaded = true
        },
        backFacts(){
            this.loaded = false 
            if(!this.currentPage == 0){         
                this.currentPage = this.currentPage - 1
                this.info = this.infos[this.currentPage]
                this.loaded = true
            } 
        },
        getRandom(){
            this.currentPage = Math.floor((Math.random() * 1642) + 1)
            this.nextFacts()
        }
 
    },
    mounted() { 
        this.getFacts()
        console.log(this.currentPage)
    }

  }).mount('#app')
</script>



